html {
    font-size: 100px;
}

body {
    font-size: .16rem;
}

::-webkit-scrollbar {
    width: .015rem;
    height: .015rem;
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    height: .3rem;
    background-color: #705697;
    border-radius: .05rem;
}

// 失去光标特殊样式
body.notFocus {
    div.view>.menu {
        background-color: #e6e2ec;
    }

    div.view>.bottom {
        background-color: #9c86bd;
    }
}